.detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eceaea;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding:20px;
    max-width: 600px;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .container h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  