
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }

  .content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .content h5 {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  